<template>
  <div class="container">
    <div class="jumbotron jumbotron-fluid mt-4">
      <div class="container">
        <h1 class="display-4">Página de Inicio</h1>
        <p class="lead">Ingrese el contenido de la pagina de <strong>inicio</strong></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InicioPage"
}
</script>

<style scoped>

</style>