<template>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Richard-Dev</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
              <li class="nav-item rounded">
                <router-link class="nav-link" :to="{name: 'Inicio'}">Inicio</router-link>
              </li>
              <li class="nav-item rounded">
                <router-link class="nav-link" active-class="" :to="{name: 'Nosotros'}">Nosotros</router-link>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="vh-100 d-flex">
      <router-view></router-view>
    </div>
    <div class="bg-dark text-white">
      <p class="text-center p-4 m-0"><a href="https://richard-dev.net" target="_blank">Richard-Dev</a></p>
    </div>

  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}
</style>
